.container {
    width: 600px;
    height: 100px;
    background-color: #1db954;
    border-radius: 1.5rem;
    position: relative;
    z-index: 1;
    display: flex;
}

.smaller-container {
    width: 300px;
    height: 50px;
    background-color: #1db954;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    display: flex;
    margin-left: 1rem;
}

.mobile-container {
    width: 300px;
    height: 50px;
    background-color: #1db954;
    border-radius: 0.5rem;
    position: relative;
    z-index: 1;
    display: flex;
}

.letter-container {
    width: calc(100% / 6);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-not-animated {
    display: flex;
    font-size: 24px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    z-index: 3;
    background-clip: text;
    color: #1db954;
}

.letter {
    display: flex;
    font-size: 3rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    z-index: 3;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("/background2.png");
    animation: background-reverse 4s infinite;
}

.letter-mobile {
    display: flex;
    font-size: 2rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    z-index: 3;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("/background2.png");
    animation: background-reverse 4s infinite;
}

.other-letter-not-animated {
    display: flex;
    font-size: 24px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    z-index: 3;
    color: white;
}

.other-letter {
    display: flex;
    font-size: 3rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    z-index: 3;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("/background.png");
    animation: background-reverse 4s infinite;
}

.other-letter-mobile {
    display: flex;
    font-size: 2rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    z-index: 3;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("/background.png");
    animation: background-reverse 4s infinite;
}



@keyframes background {
    0%, 100% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
}

@keyframes background-reverse {
    0%, 100% {
        background-position: 100% 100%;
    }
    50% {
        background-position: 0% 0%;
    }
}

.not-animated-block1 {
    height: 42.5px;
    width: 42.5px;
    position: absolute;
    background-color: #1E1E1E;
    top: 3.75px;
    left: 3.75px;
    border-radius: 1rem;
    z-index: 2;
}

.not-animated-block2 {
    height: 42.5px;
    width: 42.5px;
    position: absolute;
    background-color: #1E1E1E;
    top: 3.75px;
    left: 103.75px;
    border-radius: 1rem;
    z-index: 2;
}

.not-animated-block3 {
    height: 42.5px;
    width: 42.5px;
    position: absolute;
    background-color: #1E1E1E;
    top: 3.75px;
    left: 203.75px;
    border-radius: 1rem;
    z-index: 2;
}

.block1 {
    height: 85px;
    width: 85px;
    position: absolute;
    background-color: #1E1E1E;
    top: 7.5px;
    left: 7.5px;
    border-radius: 1.5rem;
    z-index: 2;
    animation: slide 4s infinite;
}

.block1-mobile {
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #1E1E1E;
    top: 5px;
    left: 5px;
    border-radius: 0.5rem;
    z-index: 2;
    animation: slide-mobile 4s infinite;
}

.block2 {
    height: 85px;
    width: 85px;
    position: absolute;
    background-color: #1E1E1E;
    top: 7.5px;
    left: 207.5px;
    border-radius: 1.5rem;
    z-index: 2;
    animation: slide2 4s infinite;
}

.block2-mobile {
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #1E1E1E;
    top: 5px;
    left: 5px;
    border-radius: 0.5rem;
    z-index: 2;
    animation: slide2-mobile 4s infinite;
}

.block3 {
    height: 85px;
    width: 85px;
    position: absolute;
    background-color: #1E1E1E;
    top: 7.5px;
    left: 407.5px;
    border-radius: 1.5rem;
    z-index: 2;
    animation: slide3 4s infinite;
}

.block3-mobile {
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #1E1E1E;
    top: 5px;
    left: 5px;
    border-radius: 0.5rem;
    z-index: 2;
    animation: slide3-mobile 4s infinite;
}

@keyframes slide {
    0% {
        left: 7.5px;
    }

    50% {
        left: 107.5px;
    }


    100% {
        left: 7.5px;
    }
}

@keyframes slide-mobile {
    0% {
        left: 5px;
    }

    50% {
        left: 55px;
    }


    100% {
        left: 5px;
    }
}

@keyframes slide2 {
    0%, 100% {
        left: 207.5px;
    }
    50% {
        left: 307.5px;
    }
}

@keyframes slide2-mobile {
    0%, 100% {
        left: 105px;
    }
    50% {
        left: 155px;
    }
}

@keyframes slide3 {
    0%, 100% {
        left: 407.5px;
    }
    50% {
        left: 507.5px;
    }
}

@keyframes slide3-mobile {
    0%, 100% {
        left: 205px;
    }
    50% {
        left: 255px;
    }
}

@media screen and (max-width: 400px)  {
    .smaller-container {
        display: none;
    }
}