.container {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
}

.right-container {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    z-index: 99;
}

@media screen and (max-width: 800px) {
    .right-container {
        margin-right: 1rem;
    }
}

.profile-image-container {
    position: relative;
    height: 50px;
    width: 50px;
    }

.down-arrow-container {
    position: relative;
    height: 20px;
    width: 20px;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    height: 100%;
}
.link:hover {
    color: #1db954;
}

.logout-container {
    position: absolute;
    bottom: calc(-100%);
    margin-top: 1rem;
    right: 0;
    border-radius: 0.5rem;
}

.popup {
    position: absolute;
    top: calc(100% + 1rem);
    right: 0;
    border-radius: 0.5rem;
    background-color: #1E1E1E;
    min-width: 185px;
    padding: 0.5rem;
    padding-bottom: 0.75rem;
    z-index: 999;
}

.header {
    width: 100%;
    height: 50px;
    display: flex;
}

.pfp-container {
    height: 50px;
    width: 50px;
    position: relative;
    margin-right: 0.5rem;
}

.name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: 1.25rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: white;
    margin: 0;
}

.email {
    font-size: 10px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #b3b3b3;
    margin: 0;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.icon-container {
    height: 25px;
    width: 25px;
    margin-right: 0.5rem;
    position: relative;
}

.link-item {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    margin-top: 0.5rem;
    position: relative;
}


.link-title {
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: white;
    position: relative;
}


.divider {
    height: 1px;
    width: 95%;
    background-color: #626262;
    margin-top: 0.5rem;
}

@media screen and (max-width: 400px)  {
    .right-container {
        width: 100%;
        display: flex;
        justify-content: right;
    }
}