.input {
    width: 339px;
    height: 61px;
    background-color: #1e1e1e;
    outline: none;
    border: none;
    border: 1px solid #1db954;
    font-family: "Outfit", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    padding-left: 1rem;
    border-radius: 0.5rem;
}

.results {
    width: 339px;
    margin-top: 0.5rem;
}

.result {
    cursor: pointer;
    display: flex;
    height: 61px;
    align-items: center;
    background-color: #1e1e1e;
    padding: 1rem;
    border-bottom: 0.5px solid rgba(98, 98, 98, 0.5);
    border-left: 0.5px solid rgba(98, 98, 98, 0.5);
    border-right: 0.5px solid rgba(98, 98, 98, 0.5);

}

.result-image-container {
    width: 50px;
    height: 50px;
    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.title {
    font-size: 1.5rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: white;
}

.artist {
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #626262;
}