.container {
    height: 105px;
    width: 325px;
    background-color: #1db954;
    border-top-left-radius: 1rem;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-around;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        border-radius: 0;
    }
}
    

.pfp-container {
    width: 75px;
    height: 75px;
    position: relative;
    border-radius: 100%;
    border: 1px solid #121212;
}

.name {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #121212;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-container {
    width: 25px;
    height: 25px;
    position: relative;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    cursor: pointer;
}