.container {
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 105px;
    display: flex;
    align-items: center;
}

.title {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #1db954;
    position: absolute;
    top: 0;
    left: 1rem;
}

.slider-container {
    width: 200%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider-animation {
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    left: 0;
    animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
      left: -100%;
    }
    100% {
      left: 0%;
    }
}

.user {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    position: relative;
    top: calc(80px / 2);
}

.profile-image-container {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin-right: 1rem;
    position: relative;
}

.username {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: white;
}