.container {
	width: 100vw;
    height: 100vh;
	background-color: #121212;
	display: flex;
	align-items: center;
	flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.background-images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.image-container {
    width: 35vw;
    height: 100vh;    
    position: relative;
} 