.container {
    min-height: 100vh;
    width: 100%;
    background-color: #121212;
    padding: 2rem;
}

.title {
    font-family: "Outfit", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 1rem;
}